            /* grands écrans */
            
            @media screen and (min-width: 992px) {
                /**** header ****/
                header {
                    padding: 0;
                }
                nav {
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    /* neutralise le défilement */
                }
                nav div {
                    display: inline-block;
                }
                nav a:hover {
                    background-color: #F2F2F2;
                }
                /*positionnement logo */
                #logo {
                    /*suppression de la propriété position */
                    width: 160px;
                    height: 112px;
                    position: relative;
                }
                #logo img {
                    position: absolute;
                    left: 3.2rem;
                    top: 40px;
                }
                /* nav lien : le bloc des liens hebergements/activités/s'inscrire */
                #right_links {
                    flex-direction: row;
                    padding: 0;
                    justify-content: flex-end;
                    margin: 0;
                }
                #right_links a {
                    position: relative;
                    height: 109px;
                }
                #right_links span {
                    position: absolute;
                    top: 45px;
                }
                #right_links li {
                    width: 160px;
                }
                #right_links li:nth-child(1) {
                    margin-right: auto;
                }
                /*#right_links li:nth-child(3) {
        flex: .78;
    }*/
                #homing_link,
                #activity_link {
                    border-top: 3px solid #0065FC;
                    box-sizing: border-box;
                }
                #homing_link:visited,
                #activity_link:visited {
                    border-top: 3px solid #DEEBFF;
                }
                #connect_link {
                    position: relative;
                }
                #connect_link span {
                    position: absolute;
                    left: 1.2rem;
                }
                /**** main ****/
                main div h1 {
                    margin: 15px 0 0 0;
                }
                /*
                main div p {
                    margin-top: 10px;
                }*/
                #head_main {
                    width: 92%;
                    margin: 0 auto;
                }
                /* search area */
                #search_area {
                    margin-top: 18px;
                }
                #search_area input {
                    padding: 13.4px 0px 12.6px 0;
                    width: 14.5rem;
                }
                #search_button .small {
                    display: none;
                }
                #search_button {
                    font-family: 'ralewaybold';
                    font-size: 1.1rem;
                    background-color: #0065FC;
                    ;
                    border: none;
                    padding-top: 14.49px;
                    padding-bottom: 15.21px;
                    padding-right: 1.2rem;
                    border-radius: 0 15px 15px 0;
                    text-indent: .5rem;
                }
                /* filter area */
                #filter_area {
                    display: flex;
                }
                #filter_area h2 {
                    padding-top: 19px;
                    padding-bottom: 15px;
                    margin-left: .2rem;
                    margin-right: 1rem;
                }
                #filter_form {
                    margin-left: 1rem;
                }
                #filter_form label {
                    font-size: 1.1rem;
                    margin: 0 .4rem;
                }
                #filter_form li {
                    margin-right: 1.5rem;
                }
                #filter_form span {
                    margin-right: .5rem;
                }
                #info i {
                    margin-left: .3rem;
                }
                /**** flex area : top block****/
                #top_block {
                    width: 93%;
                    margin: 33px auto 0 auto;
                    justify-content: space-around;
                }
                /* zone flex placement de popular par rapport à homing*/
                #popular_title h2 {
                    display: flex;
                    justify-content: space-between;
                    width: 82%;
                    margin: 36px auto 0 auto;
                }
                #popular_area {
                    margin-top: 20px;
                    margin-left: 2.4rem;
                    flex: 1;
                    order: 2;
                    /*permet de placer la popularaera aprés la zone homing */
                }
                #popular_places {
                    padding: 0;
                    flex-direction: column;
                    align-items: center;
                }
                #popular_places li {
                    width: 83%;
                    margin: 16px 0;
                }
                #popular_places li:nth-child(1) article {
                    background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
                }
                #popular_places li:nth-child(2) article {
                    background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
                }
                #popular_places li:nth-child(3) article {
                    background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
                }
                .popular_details {
                    width: 60%;
                }
                .popular_details h3,
                .popular_details p {
                    margin-left: .75rem;
                    margin-right: 1rem;
                    margin-top: 8.2px;
                }
                /* homing area */
                #homing_area {
                    margin-top: 20px;
                    flex: 2.11;
                    order: 1;
                    background-color: #F2F2F2;
                    border-radius: 15px;
                }
                #homing_area h2 {
                    width: 91%;
                    margin: 37px auto 24px auto;
                }
                #homing_places {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 200px);
                    column-gap: 29px;
                    row-gap: 29px;
                    padding: 0;
                    width: 91%;
                    margin: auto;
                }
                #homing_places li:nth-child(1) {
                    grid-column: 1/2;
                    grid-row: 1/2
                }
                #homing_places li:nth-child(2) {
                    grid-column: 2/3;
                    grid-row: 1/2
                }
                #homing_places li:nth-child(3) {
                    grid-column: 3/4;
                    grid-row: 1/2
                }
                #homing_places li:nth-child(4) {
                    grid-column: 1/2;
                    grid-row: 2/3
                }
                #homing_places li:nth-child(5) {
                    grid-column: 2/3;
                    grid-row: 2/3
                }
                #homing_places li:nth-child(6) {
                    grid-column: 3/4;
                    grid-row: 2/3
                }
                #homing_places article {
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background-size: cover;
                    background-position-y: bottom;
                }
                #homing_places li:nth-child(1) article {
                    background-image: url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
                }
                #homing_places li:nth-child(2) article {
                    background-image: url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
                }
                #homing_places li:nth-child(3) article {
                    background-image: url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
                }
                #homing_places li:nth-child(4) article {
                    background-image: url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
                }
                #homing_places li:nth-child(5) article {
                    background-image: url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
                }
                #homing_places li:nth-child(6) article {
                    background-image: url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
                }
                .homing_details h3,
                .homing_details p {
                    width: 91%;
                    margin: auto;
                }
                .homing_details h3 {
                    padding-bottom: 6px;
                    padding-top: 9px;
                }
                .homing_details .star {
                    font-size: .7rem;
                    padding-bottom: 5px;
                    padding-top: 7px;
                }
                #more {
                    width: 90%;
                    margin: 38px auto 0 auto;
                    font-size: 1.1rem;
                    font-family: 'ralewaybold';
                }
                /* activity area */
                #activity_title {
                    margin-top: 50px;
                }
                #activity_title,
                #activity_places {
                    width: 93%;
                    margin-left: auto;
                    margin-right: auto;
                }
                #activity_places {
                    display: grid;
                    margin: 0;
                    padding: 0;
                    grid-template-columns: repeat(4, 1fr);
                    /*crée 4 colonnes de même tailles*/
                    grid-template-rows: 190px 45px 45px 165px;
                    column-gap: 2.5rem;
                    width: 95%;
                    margin: auto;
                }
                #activity_places article {
                    background-size: 100% 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                }
                #activity_places li:nth-child(1) {
                    grid-column: 1/2;
                    grid-row: 1/5;
                }
                #activity_places li:nth-child(1) article {
                    background-image: url('../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
                }
                #activity_places li:nth-child(2) {
                    grid-column: 2/3;
                    grid-row: 1/3;
                }
                #activity_places li:nth-child(2) article {
                    background-image: url('../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
                }
                #activity_places li:nth-child(3) {
                    grid-column: 2/3;
                    grid-row: 4/5;
                }
                #activity_places li:nth-child(3) article {
                    background-image: url('../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
                }
                #activity_places li:nth-child(4) {
                    grid-column: 3/4;
                    grid-row: 1/5;
                }
                #activity_places li:nth-child(4) article {
                    background-image: url('../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
                }
                #activity_places li:nth-child(5) {
                    grid-column: 4/5;
                    grid-row: 1/2;
                }
                #activity_places li:nth-child(5) article {
                    background-image: url('../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
                }
                #activity_places li:nth-child(6) {
                    grid-column: 4/5;
                    grid-row: 3/5;
                }
                #activity_places li:nth-child(6) article {
                    background-image: url('../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
                }
                #activity_places h3 {
                    padding-bottom: 21px;
                    margin: 0;
                    text-indent: .8rem;
                }
                /*************** footer ************/
                /* footer media queries +768*/
                footer {
                    flex-direction: row;
                    justify-content: space-between;
                    padding-top: 35px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
                footer ul {
                    flex: 1;
                    /* les 3 éléments ont la même taille*/
                    text-align: left;
                    margin: 20px 0 0 0;
                }
                footer li {
                    padding-left: .6rem;
                }
            }