/* grands écrans */

@media screen and (min-width: 992px) {
    body {
        /*pour test*/
        background-image: url('../Maquettes/Desktop\ -\ 1.png');
    }
    /**** header ****/
    nav {
        height: 112px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        /* neutralise le défilement */
    }
    nav div {
        display: inline-block;
    }
    /*positionnement logo */
    #logo {
        /*suppression de la propriété position */
        width: 160px;
        height: 112px;
        position: relative;
    }
    #logo img {
        position: absolute;
        left: 3.2rem;
        top: 40px;
    }
    /* nav lien : le bloc des liens hebergements/activités/s'inscrire */
    #right_links {
        width: 445px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #right_links a {
        position: relative;
        height: 109px;
    }
    #right_links span {
        position: absolute;
        top: 63px;
    }
    #right_links li {
        flex: 1;
    }
    #right_links li:nth-child(3) {
        flex: .78;
    }
    #homing_link,
    #activity_link {
        border-top: 3px solid #0065FC;
    }
    #homing_link:visited,
    #activity_link:visited {
        border-top: 3px solid #DEEBFF;
    }
    #connect_link {
        position: relative;
    }
    #connect_link span {
        position: absolute;
        left: 1.2rem;
    }
    /**** main ****/
    main {
        margin-left: 3.4rem;
        margin-right: 1rem;
    }
    main div h1 {
        margin: 15px 0 0 0;
    }
    main div p {
        margin-top: 10px;
    }
    /* search area */
    #search_area {
        margin-top: 18px;
    }
    #search_area input {
        padding: 13.4px 0px 12.6px 0;
        width: 14.5rem;
    }
    #search_button .small {
        display: none;
    }
    #search_button {
        font-family: 'ralewaybold';
        font-size: 1.1rem;
        background-color: #0065FC;
        ;
        border: none;
        padding-top: 14.49px;
        padding-bottom: 15.21px;
        padding-right: 1.2rem;
        border-radius: 0 15px 15px 0;
        text-indent: .5rem;
    }
    /* filter area */
    #filter_area {
        display: flex;
    }
    #filter_area h2 {
        padding-top: 19px;
        padding-bottom: 15px;
        margin-left: .2rem;
        margin-right: 1rem;
    }
    #filter_form {
        margin-left: 1rem;
    }
    #filter_form label {
        font-size: 1.1rem;
        margin: 0 .4rem;
    }
    #filter_form li {
        margin-right: 1.5rem;
    }
    #filter_form span {
        margin-right: .5rem;
    }
    #info i {
        margin-left: .3rem;
    }
    /**** flex ****/
    #flex {
        margin-top: 33px;
    }
    /* zone flex placement de popular par rapport à homing*/
    #popular_area {
        margin-top: 20px;
        flex: 1;
        order: 2;
        /*permet de placer la popularaera aprés la zone homing */
    }
    #homing_area {
        margin-top: 20px;
        flex: 2;
        order: 1
    }
    /*************** footer ************/
    /* footer media queries +768*/
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
    }
    footer ul {
        flex: 1;
        /* les 3 éléments ont la même taille*/
        text-align: left;
        margin: 20px 0 0 0;
    }
    footer li {
        padding-left: .6rem;
    }
}