/************* média queries ***********/


/* petits écrans */

@media screen and (max-width: 767px) {
    body {
        /*pour test */
        background-image: url('../Maquettes/iPhone\ 8\ -\ 1.png');
    }
    /**** header ****/
    header {
        margin-bottom: 32px;
    }
    /* placement du logo au même niveau que les autres lien */
    #logo {
        position: absolute;
        top: 29px;
        width: 50%;
    }
    #logo img {
        position: relative;
        top: -5px;
        left: -26px;
    }
    /* la nav */
    nav {
        height: 132px;
    }
    #homing_link,
    #activity_link {
        border-bottom: 3px solid #0065FC;
    }
    #homing_link:hover,
    #activity_link:hover {
        border-bottom: 3px solid #DEEBFF;
    }
    /**** main ****/
    main {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}