/* grands écrans */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*    body {
         pour test 
        background-image: url('../Maquettes/Desktop\ -\ 1.png');
    }*/
    /**** header ****/
    header {
        position: relative;
        /*necessaire pour le z-index: */
        z-index: 2;
    }
    nav {
        position: fixed;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }
    nav div {
        display: inline-block;
    }
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
        background: #f85032;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0);
        /* IE6-9 */
    }
    nav a:hover {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
        background: #bfd255;
        /* Old browsers */
        background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d', GradientType=0);
        /* IE6-9 */
    }
    /*positionnement logo */
    #logo {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    /* nav lien : le bloc des liens hebergements/activités/s'inscrire */
    #right_links {
        flex: 3;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
    }
    #right_links li {
        flex: 1;
    }
    #right_links a {
        position: relative;
        height: 100px;
        text-align: center;
    }
    #right_links span {
        position: absolute;
        top: 40px;
    }
    #homing_link,
    #activity_link {
        border-top: 3px solid #0065FC;
    }
    #homing_link:hover,
    #activity_link:hover {
        border-top: 3px solid #DEEBFF;
    }
    #connect_link {
        text-align: left;
        text-indent: 25px;
    }
    /**** main ****/
    main {
        margin: 100px 3.4rem 0 3.4rem;
        /*top right bottom left*/
    }
    /* search area */
    #search_area {
        margin-top: 18px;
    }
    #search_area input {
        padding: 13.4px 0px 12.6px 0;
        width: 14.5rem;
    }
    #search_button .small {
        display: none;
    }
    #search_button {
        font-family: 'ralewaybold';
        font-size: 1.1rem;
        background-color: blue;
        border: none;
        padding-top: 14.49px;
        padding-bottom: 15.21px;
        padding-right: 1.2rem;
        border-radius: 0 15px 15px 0;
        text-indent: .5rem;
    }
    /* filter area */
    #filter_area {
        display: flex;
    }
    #filter_area h2 {
        padding-top: 19px;
        padding-bottom: 15px;
        margin-left: .2rem;
        margin-right: 1rem;
    }
    #filter_form label {
        margin: 0 .5rem;
    }
    #filter_form li {
        margin: 2px 2px;
    }
    /*mise en ordre alphabétique*/
    #filter_form li:nth-child(4) {
        order: 1;
    }
    #filter_form li:nth-child(1) {
        order: 2;
    }
    #filter_form li:nth-child(2) {
        order: 3;
    }
    #filter_form li:nth-child(3) {
        order: 4;
    }
    #filter_form input:hover+label {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
        background: #bfd255;
        /* Old browsers */
        background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d', GradientType=0);
        /* IE6-9 */
    }
    #info i {
        margin-left: .3rem;
    }
    /**** flex ****/
    #flex {
        flex-direction: column;
        margin-top: 33px;
    }
    /* zone flex placement de popular par rapport à homing*/
    #popular_area {
        margin-top: 20px;
        order: 1;
        /*permet de placer la popularaera aprés la zone homing */
    }
    #popular_places {
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }
    #popular_places article {
        justify-content: flex-end;
        flex-direction: column;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #popular_places li {
        flex: 1;
        display: inline-block;
    }
    #popular_places a {
        display: inline-block;
        width: 90%;
    }
    #popular_places li:nth-child(1) article {
        background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    }
    #popular_places li:nth-child(2) article {
        background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    }
    #popular_places li:nth-child(3) article {
        background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    }
    .popular_details {
        height: 75px;
    }
    .popular_details h3,
    .popular_details p {
        margin: 0;
    }
    #homing_area {
        margin-top: 20px;
        order: 2;
    }
    #homing_places,
    #activity_places {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    #homing_places li,
    #activity_places li {
        width: 45%;
    }
    #homing_places article {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: contain;
        background-position-y: -10px;
    }
    #homing_places li:nth-child(1) article {
        background-image: url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    }
    #homing_places li:nth-child(2) article {
        background-image: url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    }
    #homing_places li:nth-child(3) article {
        background-image: url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    }
    #homing_places li:nth-child(4) article {
        background-image: url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    }
    #homing_places li:nth-child(5) article {
        background-image: url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    }
    #homing_places li:nth-child(6) article {
        background-image: url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    }
    #activity_places article {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position-y: -10px;
    }
    .activity_details {
        margin: 0;
        height: 30px;
    }
    /* images de fond activités */
    #activity_places li:nth-child(1) article {
        background-image: url('../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    }
    #activity_places li:nth-child(2) article {
        background-image: url('../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    }
    #activity_places li:nth-child(3) article {
        background-image: url('../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    }
    #activity_places li:nth-child(4) article {
        background-image: url('../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    }
    #activity_places li:nth-child(5) article {
        background-image: url('../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    }
    #activity_places li:nth-child(6) article {
        background-image: url('../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    }
    /*************** footer ************/
    /* footer media queries +768*/
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
    }
    footer ul {
        flex: 1;
        /* les 3 éléments ont la même taille*/
        text-align: left;
        margin: 20px 0 0 0;
    }
    footer li {
        padding-left: .6rem;
    }
}