/* grands écrans */

@media screen and (min-width: 768px) {
    body {
        /* pour test */
        background-image: url('../Maquettes/Desktop\ -\ 1.png');
    }
    /**** header ****/
    nav {
        height: 112px;
        display: flex;
        justify-content: space-between;
    }
    nav div {
        display: inline-block;
    }
    /*positionnement logo */
    #logo {
        position: unset;
        /*suppression de la propriété position */
        width: 150px;
        height: 112px;
    }
    #logo img {
        position: relative;
        left: 1.7rem;
        top: 14px;
    }
    /* nav lien : le bloc des liens hebergements/activités/s'inscrire */
    #right_links {
        min-width: fit-content;
        width: 33%;
        display: flex;
        flex-wrap: nowrap;
    }
    #right_links a {
        min-width: 150px;
        padding-top: 45px;
        padding-bottom: 75px;
    }
    #homing_link,
    #activity_link {
        border-top: 3px solid #0065FC;
    }
    #homing_link:hover,
    #activity_link:hover {
        border-top: 3px solid #DEEBFF;
    }
    #connect_link {
        text-align: left;
        text-indent: 25px;
    }
    /**** main ****/
    main {
        margin-left: 3.4rem;
        margin-right: 1rem;
    }
    /* search area */
    #search_area {
        margin-top: 18px;
    }
    #search_area input {
        padding: 13.4px 0px 12.6px 0;
        width: 14.5rem;
    }
    #search_button .small {
        display: none;
    }
    #search_button {
        font-family: 'ralewaybold';
        font-size: 1.1rem;
        background-color: blue;
        border: none;
        padding-top: 14.49px;
        padding-bottom: 15.21px;
        padding-right: 1.2rem;
        border-radius: 0 15px 15px 0;
        text-indent: .5rem;
    }
    /* filter area */
    #filter_area {
        display: flex;
    }
    #filter_area h2 {
        padding-top: 19px;
        padding-bottom: 15px;
        margin-left: .2rem;
        margin-right: 1rem;
    }
    #filter_form label {
        margin: 0 .5rem;
    }
    #info i {
        margin-left: .3rem;
    }
    /**** flex ****/
    #flex {
        margin-top: 33px;
    }
    /* zone flex placement de popular par rapport à homing*/
    #popular_area {
        margin-top: 20px;
        flex: 1;
        order: 2;
        /*permet de placer la popularaera aprés la zone homing */
    }
    #homing_area {
        margin-top: 20px;
        flex: 2;
        order: 1
    }
    /*************** footer ************/
    /* footer media queries +768*/
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
    }
    footer ul {
        flex: 1;
        /* les 3 éléments ont la même taille*/
        text-align: left;
        margin: 20px 0 0 0;
    }
    footer li {
        padding-left: .6rem;
    }
}