input[type='checkbox'] {
    display: none;
}

label {
    color: red;
}

#first+label {
    background-color: blue;
}

#second+label {
    background-color: yellow;
}

#third+label {
    background-color: green;
}

#third:checked+label {
    background-color: black;
}

#first:checked {
    background-color: chartreuse;
}

#second:checked {
    background-color: coral;
}