            /* utile :
bleu foncé : #0065FC
bleu clair : #DEEBFF
fond gris : #F2F2F2
font : Raleway.
*/
            /* ajout de la font Raleway */
            
            @font-face {
                font-family: 'ralewayregular';
                src: url('font/raleway-regular.ttf');
            }
            
            @font-face {
                font-family: 'ralewaybold';
                src: url('font/Raleway-Bold.ttf');
            }
            /**************** Général  **********************/
            
            body {
                background-color: white;
                font-family: 'ralewayregular';
            }
            
            .page {
                background-color: white;
                background-image: url('images/iPhone\ 8\ -\ 1.png');
            }
            
            h1 {
                /*font-family: 'ralewaybold';*/
                font-size: 1.6rem;
            }
            
            h2,
            p {
                font-size: 1.2rem;
            }
            
            a {
                text-decoration: none;
            }
            /******************** header *****************/
            
            nav {
                height: 132px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                /*positionnement en bas des liens -> align-items:flex-end*/
                align-items: flex-end;
                text-align: center;
            }
            
            nav a {
                width: 50%;
                height: auto;
                font-family: 'ralewaybold';
                display: inline-block;
                color: #0065FC;
                /*border: 1px solid black;*/
                border-bottom: 3px solid #0065FC;
                padding-bottom: 17px;
                padding-top: 17px;
            }
            
            nav a:hover {
                height: auto;
                font-family: 'ralewaybold';
                display: inline-block;
                color: black;
                flex: 1;
                border-bottom: 3px solid #DEEBFF;
            }
            
            .filter {
                background-color: blue;
            }
            
            .filter:hover {
                background-color: red;
            }
            
            .grey {
                background-color: #F2F2F2;
            }
            
            #connect {
                position: absolute;
                top: 30px;
                /*sans padding de 17:47px;*/
                right: -45px;
            }
            
            #logo {
                position: absolute;
                top: 15px;
                /* sans padding de 17: 32px;*/
                left: -18px;
            }
            
            #logo,
            #connect {
                border-bottom: none;
            }
            /************* main *******************/