        /* ajout de la font Raleway */
        
        @font-face {
            font-family: 'ralewayregular';
            src: url('font/raleway-regular.ttf');
        }
        
        @font-face {
            font-family: 'ralewaybold';
            src: url('font/Raleway-Bold.ttf');
        }
        
        @font-face {
            font-family: 'ralewayblack';
            src: url('font/Raleway-Black.ttf');
        }
        /**************** Général  **********************/
        
        body {
            background-color: white;
            font-family: 'ralewayregular';
        }
        
        .page {
            background-color: white;
            background-image: url('images/iPhone\ 8\ -\ 1.png');
        }
        
        h1 {
            font-family: 'ralewaybold';
            font-size: 1.4rem;
        }
        
        h2 {
            font-family: 'ralewaybold';
            font-size: 1.1rem;
        }
        
        p {
            font-size: 1rem;
        }
        
        a {
            text-decoration: none;
        }
        
        .grey {
            background-color: rgba(0, 255, 0, .5);
        }
        /******************** header *****************/
        
        header {
            width: 100%;
            background-color: rgba(0, 255, 0, .5);
        }
        
        #logo {
            position: absolute;
            top: 29px;
            width: 50%;
        }
        
        #logo img {
            padding-right: 50px;
            padding-top: 1px;
            padding-bottom: 5px;
        }
        
        nav {
            height: 132px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            text-align: center;
            background-color: rgba(0, 0, 255, .5);
        }
        
        #rightlinks {
            /*width: 150%;*/
            display: flex;
            flex-wrap: wrap-reverse;
            /*pour mettre s'inscrire au dessus*/
            justify-content: flex-end;
            /*pour mettre s'inscrire à droite*/
        }
        
        #rightlinks a {
            width: 50%;
            height: auto;
            font-family: 'ralewaybold';
            display: inline-block;
            color: #0065FC;
            padding-bottom: 17px;
            padding-top: 17px;
        }
        
        nav a:hover {
            height: auto;
            font-family: 'ralewaybold';
            display: inline-block;
            color: black;
            flex: 1;
        }
        
        #hominglink,
        #activitylink {
            border-bottom: 3px solid #0065FC;
        }
        
        #hominglink:hover,
        #activitylink:hover {
            border-bottom: 3px solid #DEEBFF;
        }
        
        #connectlink {
            text-align: right;
            margin-right: 5px;
            align-self: self-end;
        }
        /********** footer *****************/
        
        footer {
            padding-top: 26px;
        }
        
        .footer {
            display: flex;
            flex-direction: column;
        }
        
        .footer div {
            border: 1px solid red;
            height: fit-content;
            width: 100%;
        }
        
        .footer ul {
            padding-left: 20px;
            font-family: 'ralewayregular';
        }
        
        .footer li {
            list-style: none;
            margin: 15px 0;
            font-size: 1rem;
        }
        
        .footer a {
            text-decoration: none;
            color: black;
        }
        /*************** media queries ****************/
        
        @media screen and (min-width: 768px) {
            header {
                background-image: url('Maquettes/Header-Desktop.png');
                /* changement de fond pour vérifier que les media queries fonctionnent */
            }
            /* header media queries*/
            nav {
                display: flex;
                justify-content: space-between;
            }
            nav div {
                display: inline-block;
            }
            #logo {
                position: unset;
                /*suppression de la propriété position */
            }
            #rightlinks {
                width: 33%;
                display: flex;
                flex-wrap: nowrap;
            }
            #rightlinks a {
                width: 33%;
            }
            /* footer media queries */
            .footer {
                flex-direction: row;
                justify-content: space-between;
            }
            .footer div {
                width: 25%;
                padding-top: 10px;
            }
            #about {
                text-align: left;
                padding-left: 25px;
            }
            #staying {
                text-align: center;
            }
            #help {
                text-align: right;
                padding-right: 50px;
            }
        }